<div class="footer">
  <div class="width-50p inline-block text-left">
    <span class="note"><a class="footer-height menu-button" href="https://github.com/p1100i/generator-morf" title="Project generator">Created with morf generator<span class="github-icon octicon octicon-mark-github"></span></a></span>
  </div>
  <div class="width-50p inline-block text-right">
    <span class="note"><a class="footer-height menu-button" href="https://p1100i.github.io" title="My github.io page">by p1100i<span class="github-icon octicon octicon-mark-github"></span></a></span>
  </div>
</div>
