/*
 * Definition of all variables
 */

// Predefined colors.
$butter-light = #f9f9de
$butter       = #f6f5c0

// $teal-light   = #1d77c4
// $teal         = #1d77c4
// $teal-dark    = #1d77c4
// $teal-black   = #1d77c4
$teal-light   = #28c9a9
$teal         = #1abc9c
$teal-dark    = #16a085
$teal-black   = #2a7062

$grey-white   = #d4d0d0
$grey-light   = #35383a
$grey         = #212325
$grey-dark    = #34495e
$grey-black   = #2a2a2a

$salmon-light = #f39191
$salmon       = #e75f5f
$salmon-dark  = #b04848

$white-dark   = #ecf0f1

// Config colors.
$shadow-color   = #a1a1a1
$selected-color = $teal

// Config sizes.
$header-height  = 50px
$footer-height  = 40px
$content-width  = 800px
$border-radius  = 8px

.header-height
  height $header-height

.footer-height
  height $footer-height
