.about-template
  canvas
    background-color #ddd
    border 1px solid grey
    margin-top 20px
    mix-box-shadow 0 0 10px 3px $shadow-color

  .element-wrapper
    width 600px
    display inline-block

  .info
    width             100%
    background-color  $grey-dark
    color             white
    td
      padding 10px 30px

      .icon
        margin-right 4px

  .info, .controls
    margin-top 20px

  .control
    height  30px
    width   90px
    &:hover
      background-color $grey-light

  .time
    width 140px
